* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d1431;
  font-family: "Rubik", sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Nav Bar */

.navbar {
  margin-top: 10px;
  background-color: #0d1431;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.navbar a {
  text-align: center;
  margin-right: 40px;
  color: aliceblue;
  text-decoration: none;
  font-size: 16.5px;
  transition: transform 0.3s ease-in-out;
}

.navbar a:hover {
  transform: translateY(-5px);
}

#resumeBtn {
  margin-right: 40px;
  padding: 7px;
  font-size: 16px;
  border-radius: 2px;
  background-color: #0d1431;
  color: #47ffaf;
  border: 2px solid #47ffaf;
}

#resumeBtn:hover {
  cursor: pointer;
  background-color: #47ffaf;
  transition: 0.8s ease;
  color: #0d1431;
}

/* Hero */

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 0 20px;
  text-align: left;
  margin-top: 100px;
  margin-left: 200px;
}

.hero-container p {
  color: #adb5bd;
  font-size: 18px;
  line-height: 24px;
}

.hero-container p a {
  color: #47ffaf;
  text-decoration: none;
}

.hero-container p a:hover {
  text-decoration: underline;
}

.hero-container h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
  color: #ced4da;
  margin-bottom: 0px;
  margin-top: 10px;
}

.hero-cta h1 {
  width: auto;
  color: #adb5bd;
  margin-bottom: 0px;
  margin-top: 10px;
}

.hero-container p,
.hero-container h1,
.hero-container .hero-cta {
  margin-bottom: 0px;
}

/* About Me */

.about-me-container {
  display: flex;
  justify-content: space-between;
  margin-top: 220px;
  width: 60%;
  gap: 60px;
  align-items: flex-start;
  position: relative;
  background-color: #0d1431;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.about-me-container h2 {
  color: #ced4da;
}

.about-me-content {
  width: 100%;
}

.about-me-image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: auto;
  position: relative;
  max-width: 100%;
}

.about-me-image img {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
  display: block;
}

.about-me-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 255, 175, 0.4);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.about-me-image:hover::before {
  opacity: 0;
}

.about-me-text {
  margin-right: 20px;
  max-height: 100%;
  overflow: auto;
  color: #adb5bd;
  font-size: 18px;
  line-height: 24px;
}

.about-me-text a {
  text-decoration: none;
  color: #47ffaf;
}

.about-me-text a:hover {
  text-decoration: underline;
}

.skill-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding-left: 0;
}

.skill-list-container ul {
  padding-left: 17px;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* projects section */

.project-header {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.project-header h2 {
  color: #ced4da;
  margin-left: 3px;
}
.project-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #0d1431;

  border: 1px solid #47ffaf;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.tab {
  display: flex;
  flex-direction: column;

  border-left: 1px solid #ccc;
  background-color: #0d1431;
  width: 50%;
  height: 250px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: #ced4da;
  padding: 20px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}

.tab button:hover {
  background-color: #252c46;
}

.tab button.active {
  background-color: #252c46;
}

.tabcontent {
  padding: 0px 12px;
  width: 90%;
  border-left: none;
  height: 300px;
  display: none;
  background-color: #0d1431;
}

.tabcontent h3 {
  margin-top: 30px;
  color: #47ffaf;
}

.tabcontent p {
  color: #ced4da;
  text-align: center;
}

/* GitHub */

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-container {
  display: flex;
  width: 60%;
  margin-top: 200px;
  margin-bottom: 50px;

  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.left-side {
  flex-basis: 50%;
  padding: 20px;
  padding-left: 0;
  background-color: #0d1431;
}

.left-content {
  display: flex;
  align-items: center;
}

.left-content h2 {
  color: #ced4da;
}

.number {
  font-size: 24px;
  margin-right: 2px;
}

.github-image-container {
  max-width: 100%;
  position: relative;
}

.github-image-container img {
  width: 100%;
  display: block;
}

.github-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 255, 175, 0.35);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.github-image-container:hover::before {
  opacity: 0;
}

.right-side {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  padding: 20px;
  padding-left: 30px;
  background-color: #0d1431;
}

.right-side p {
  color: #adb5bd;
  font-size: 18px;
  line-height: 24px;
}

.right-side a {
  text-decoration: none;
}

.right-side a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Get in touch */
.get-in-touch-container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 100px;
  align-items: center;
  background-color: #0d1431;
  width: 40%;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease-in-out;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.in-touch-header {
  display: flex;
  align-items: center;
  color: #ced4da;
}

.get-in-touch-container p {
  text-align: center;
  color: #adb5bd;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
}

#emailButton {
  padding: 8px;
  font-size: 16px;
  border-radius: 2px;
  background-color: #0d1431;
  color: #47ffaf;
  border: 2px solid #47ffaf;
}

#emailButton:hover {
  cursor: pointer;
  background-color: #47ffaf;
  transition: 0.8s ease;
  color: #0d1431;
}

/* Contact Form */

.form-container {
  display: none;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  max-width: 150%;
  height: auto;
  overflow-y: auto;
  background-color: #0d1431;
  border: 1px solid #47ffaf;
}

.form-container h2 {
  margin-top: 0;
  color: #adb5bd;
}

.form-container form {
  margin-top: 20px;
}

.form-container label {
  color: #47ffaf;
  font-size: 18px;
}

.form-container label,
.form-container input,
.form-container textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.form-container input[type="submit"] {
  width: auto;
  cursor: pointer;
}

.form-container .close-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

#openFormButton {
  padding: 8px;
  font-size: 16px;
  border-radius: 2px;
  background-color: #0d1431;
  color: #47ffaf;
  border: 2px solid #47ffaf;
}

#openFormButton:hover {
  cursor: pointer;
  background-color: #47ffaf;
  transition: 0.8s ease;
  color: #0d1431;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
}

.footer-content {
  color: #adb5bd;
}

.footer-content p {
  margin: 0;
}

/* Media Queries  */

@media (max-width: 400px) {
  .navbar {
    height: 80px;
    justify-content: center;
    align-items: center;
  }

  .navbar a {
    margin-right: 20px;
    font-size: 12px;
  }

  #resumeBtn {
    margin-right: 0px;
    font-size: 12px;
  }

  /* Hero */
  .hero-container {
    width: 90%;
    padding: 0 10px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  /* About me */
  .about-me-container {
    flex-direction: column;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    gap: 20px;
    padding-left: 0;
  }

  .about-me-image {
    flex-basis: 10%;
  }

  .about-me-image img {
    width: 100%;
    height: 400px;
    width: auto;
    display: block;
  }

  .about-me-image::before {
    background-color: transparent;
    opacity: 0;
  }

  .about-me-text {
    margin-right: 0;
    margin-top: 20px;
  }

  /* Github */
  .github-container {
    flex-direction: column;
    width: 90%;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
  }

  .github-image-container::before {
    background-color: transparent;
    opacity: 0;
  }

  .left-side,
  .right-side {
    flex-basis: 100%;
  }

  /* Get in touch */
  .get-in-touch-container {
    width: 90%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  .in-touch-header {
    display: flex;
    justify-content: center;
  }

  .form-container {
    width: 90%;
    margin: 0 auto;
  }
}
